<template name="home">
<!--     <div class="ui four column main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div> -->

    <div id="main-content" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="exchange icon"></i></div>
        <h1 class="ui header" align="center"></h1>
      <p>With computing technologies becoming increasingly widespread and more ubiquitous in our lives and the growth of the "Quantified Self" movement and market growing fast, we are presented with a unqiue opportunity to be able to allow the generation and use of such realtime health and medical data to inform decisions and research in medical, pharmaceutical and healthcare industries.</p>
      <p>QuantifiedCrowd seeks to provide one such service through the provision of a unique platform. Through the use of a <a href="http://app.quantifiedcrowd.uk">hybrid web and mobile application</a> users/patients can register and regularly update a growing list of metrics related to their health and wellbeing and monitor their progress at any time. This data is then in realtime and presented here on the <a href="http://dashboard.quantifiedcrowd.uk">QuantifiedCrowd Dashboard</a> for use by interested parties(such as public health authorities, CCG's, research bodies etc) to review a regions combined health statistics based on the metrics recorded by users/patients and possibly inform decisions and research for that region.</p>
    </div>
</template>
