// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Faun+One', serif;
    background: #FFFFFF;
}

p {
  font-family: 'Josefin+Slab';
  font-size: 20px;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.ui.header {
    font-family: 'Lobster', serif;
}

.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}
.map-container {
  width: 800px;
  height: 500px;
}
/* -------------------
    Footer
   ------------------- */
.padding-wrapper.footer {
    .border-radius(0px);
    background: #F7F7F7;
    a:hover {
        color: @secondaryLinkHoverColor;
    }
}
