<template name="sidebar">
  <div class="ui vertical inverted visible sidebar menu">
  <a class="item" id="homeBtn">
    <i class="home icon"></i>
    Home
  </a>
<div class="ui simple dropdown item">
  <i class="search icon"></i>
    Search by Postcode
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/search/byPCode/all"><i class="asterisk icon"></i> All Metrics</a>
      <a class="item" href="/search/byPCode/bmi"><i class="crosshairs icon"></i> BMI</a>
      <a class="item" href="/search/byPCode/weight"><i class="crosshairs icon"></i> Weight</a>
      <a class="item" href="/search/byPCode/activity"><i class="crosshairs icon"></i> Activity</a>      
    </div>
  </div>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>
</template>