<template name="bradfordStats">
  {{> contentHeader title="Bradford Health Stats" align="center"}}

  <br>
  <div class="ui centered grid">
    <div class="centered row">
      <div class="three wide column">
        <div class="one wide column">
          <div class="ui large header">Average BMI</div>
        </div>
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
        <br>
      {{> overallAvgBmi}} 
      </div>
      <div class="three wide column">
      {{> reactiveOaBmiGauge}} 
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
        <div class="one wide column">
          <div class="ui large header">Average Weight</div>
        </div>
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
      {{> overallAvgWeight}}
      </div>
      <div class="three wide column">
      {{> reactiveAvgWeightGaugePC}}
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
        <div class="one wide column">
          <div class="ui large header">Average Activity</div>
        </div>
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
      {{> avgActivityByPostCode}}
      </div>
      <div class="three wide column">
      {{> reactiveAvgActivityGaugePC}}
      </div>
    </div>
  </div>
  
  
<!--   <div align="center"> -->
<!--   <div class="ui stacked segment"> -->
<!--     <div class="ui statistics"> -->
<!--       {{> overallAvgBmi}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      {{> overallAvgWeight}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp; -->
<!--       {{> bmiByPostCode}} -->
<!--   </div> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div align="center">
  {{> searchBmiPCode}}
  </div> -->

  
</template>