<template name="bradfordStats">
  {{> contentHeader title="Bradford Health Stats" align="center"}}

  <div align="center">
<!--   <div class="ui stacked segment"> -->
<!--     <div class="ui statistics"> -->
      {{> overallAvgBmi}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      {{> overallAvgWeight}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      {{> bmiByPostCode}}
  </div>
<!--     </div> -->
<!--   </div> -->
  

  
</template>