<template name="searchByPCode">
  
  
<!--   <div align='center'>
    <br>
  
  </div> -->
<!--   <div align="center">
    {{> bmiByPostCode}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
    {{> avgWeightByPostCode}}    
  </div> -->
<!--     <div class="ui centered grid">
    <div class="centered row">
      <div class="three wide column">
      {{> bmiByPostCode}} 
      </div>
      <div class="three column wide">
      {{> avgWeightByPostCode}}
      </div>
    </div>
  </div> -->
  <br>
  <div class="ui centered grid">
    <div class="centered row">
      <div class="three wide column">
<!--         <br> -->
      {{> searchByPCodeInput}}
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
      {{> bmiByPostCode}} 
      </div>
      <div class="three wide column">
      {{> avgWeightByPostCode}}
      </div>
    </div>
    <div class="centered row">
      <div class="four wide column">
      {{> reactiveAvgBmiGaugePC}} 
      </div>
      <div class="four column wide">
      {{> reactiveAvgWeightGaugePC}}
      </div>
    </div>
  </div>
</template>