<template name="searchByPCode">
  {{> searchByPCodeInput}}
<!--   <div align="center">
    {{> bmiByPostCode}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
    {{> avgWeightByPostCode}}    
  </div> -->
<!--     <div class="ui centered grid">
    <div class="centered row">
      <div class="three wide column">
      {{> bmiByPostCode}} 
      </div>
      <div class="three column wide">
      {{> avgWeightByPostCode}}
      </div>
    </div>
  </div> -->
  <div class="ui centered grid">
    <div class="centered row">
      <div class="three wide column">
      {{> bmiByPostCode}} 
      </div>
      <div class="three column wide">
      {{> avgWeightByPostCode}}
      </div>
    </div>
    <div class="centered row">
      <div class="three wide column">
      {{> reactiveAvgBmiGaugePC}} 
      </div>
      <div class="three column wide">
      {{> reactiveAvgWeightBmiGaugePC}}
      </div>
    </div>
  </div>
</template>